/* === Themes === */
@import "themes/dark";
@import "themes/light";

$themes: (
        "dark": $dark,
        "light": $light,
);

@each $theme, $palette in $themes {
  /* === Root Variables for Force === */
  :root {
    @each $color, $colors in $palette {
      @each $type, $code in $colors {
        --#{$theme}-#{$color}-#{$type}: #{$code};
      }
    }
  }
  /* === Theme classes === */
  .w-app--#{$theme} {
    /* === Text Colors === */
    h1, h2, h3, h4, h5, h6, p, span, li {
      color: var(--secondary-base);
    }
    /* === Variables for Theme === */
    @each $color, $colors in $palette {
      @each $type, $code in $colors {
        --#{$color}-#{$type}: #{$code};
      }
    }
    /* === Text Colors Classes === */
    @each $color, $colors in $palette {
      @each $type, $code in $colors {
        .text-#{$color}--#{$type} {
          color: $code;
        }
      }
    }
    /* === Background Colors Classes === */
    @each $color, $colors in $palette {
      @each $type, $code in $colors {
        .#{$color}--#{$type} {
          background-color: $code;
        }
      }
    }
  }
}