/* === PeaceSans === */
@font-face {
  font-family: "PeaceSans";
  src: 
          url("./peace/PeaceSans.ttf"), 
          url('./peace/PeaceSans.woff') format('woff'),
          url('./peace/PeaceSans.woff2') format('woff2'),
          url('./peace/PeaceSans.eot') format('eot');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* === SfUi === */
@font-face {
  font-family: "SfUi";
  src:
          url("./sf/SFUIText-Regular.ttf"),
          url('./sf/SFUIText-Regular.woff') format('woff'),
          url('./sf/SFUIText-Regular.woff2') format('woff2'),
          url('./sf/SFUIText-Regular.eot') format('eot');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}