/* === Variables === */
@import "core/variables/layout";
@import "core/variables/fonts";
@import "core/variables/misc";

/* === Core Base === */
@import "core/base/general";
@import "core/base/align";
@import "core/base/display";
@import "core/base/justify";
@import "core/base/borders";

/* === Grid === */
@import "core/grid/grid";
@import "core/grid/flex";
@import "core/grid/spaces";
@import "core/grid/containers";

/* === Typography === */
@import "core/typography/weight";
@import "core/typography/text";

/* === Colors === */
@import "colors/index";
/* === Fonts === */
@import "./fonts";