$dark: true !default;

$colors: (
        "primary": #001044,
        "secondary": #ffffff,
        "accent-1": #ffc617,
        "accent-2": #c8a2c8,
        "accent-3": #75BBFD,
        "accent-4": #1FA59C,
) !default;

/* === Dark Colors === */
@if $dark {
  $colors: (
          "primary": #001044,
          "secondary": #ffffff,
          "accent-1": #ffc617,
          "accent-2": #c8a2c8,
          "accent-3": #75BBFD,
          "accent-4": #1FA59C,
  );
}

/* === Color Variables === */
:root {
  @each $color, $code in $colors {
    --color-#{$color}: #{$code};
  }
}
