@use "sass:map";
/* === Fonts === */
$fonts: (
        "primary": "Roboto",
        "secondary": "Sigmar One",
) !default;

/* === Font Variables === */
:root {
  --font-primary: "#{map.get($fonts, "primary")}";
  --font-secondary: "#{map.get($fonts, "secondary")}";
}