@use "sass:map";
/* === Fonts === */
$fonts: (
        "primary": "SfUi",
        "secondary": "PeaceSans",
) !default;

/* === Font Variables === */
:root {
  --font-primary: "#{map.get($fonts, "primary")}";
  --font-secondary: "#{map.get($fonts, "secondary")}";
}