$media-direction: max !default;
/* === Breakpoints === */
$breakpoints: (
        xl: 1904, // 4k and ultra-wide
        lg: 1264, // Desktop
        md: 960, // Large tablet to laptop
        sm: 600, // Small to medium tablet
        xs: 600, // Small to large phone
) !default;

/* === Spacing === */
$spaces: (
        xl: 64px,
        lg: 32px,
        md: 16px,
        sm: 8px,
        xs: 4px,
        no: 0px,
) !default;
:root {
  @each $space, $px in $spaces {
    --space-#{$space}: #{$px};
  }
}
/* === Font Sizes === */
$sizes: (
        xl: 2rem, // 32px
        lg: 1.5rem, // 24px
        md: 1rem, // 16px
        sm: 0.875rem, // 14px
        xs: 0.75rem, // 12px
) !default;
:root {
  @each $size, $rem in $sizes {
    --font-size-#{$size}: #{$rem};
  }
}
/* === Object Heights === */
$heights: (
        xl: 60px,
        lg: 40px,
        md: 32px,
        sm: 20px,
        xs: 18px,
) !default;
:root {
  @each $height, $px in $heights {
    --height-#{$height}: #{$px};
  }
}
/* === Object Widths === */
$widths: (
        xl: 340px,
        lg: 240px,
        md: 180px,
        sm: 140px,
        xs: 12px,
) !default;
:root {
  @each $width, $px in $widths {
    --width-#{$width}: #{$px};
  }
}